body
{
  background-image: url("background.jpg");
}

#footer
{
    position: absolute;
    bottom: 0px;
    padding-left: 3%;
}

@font-face
{
    font-family: fontmidle;
    src: url('Assets\\Boulevard Saint Denis.ttf');
}

#title
{
  font-family: fontmidle;
}
    bottom: 2%;
    padding-left: 5%;
}

#footer a{
    margin-left: 20px;
    color: white;
    font-family: 'Quicksand';
}
