body {
    background-image: url('Assets/background.jpg') center center;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

#footer {
    position: absolute;
    bottom: 10px;
    margin-left: 3%;
    border-bottom: 1px solid white;
}

    #footer a {
        font-size: 18px;
        color: white;
        font-family: 'Quicksand';
    }

    #footer #secondLink, #thirdLink {
        margin-left: 20px;
    }

@font-face {
    font-family: fontmidle;
    src: url('Assets\\Boulevard Saint Denis.ttf');
}

#title {
    font-family: fontmidle;
}
